<div class="container-fluid width-less">
  <!-- {{submissionData|json}} -->

  <mat-card>
<mat-card-title>
  Complaint Details
</mat-card-title>
    <mat-card-content>
    <div class="col-md-12 row">
      <div class="col-md-6">
          <mat-form-field appearance="outline">
              <mat-label>Customer Name</mat-label>
              <input matInput placeholder="Customer Name" [value]="submissionData?.customerName" readonly>
              <mat-icon matSuffix>people</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-form-field appearance="outline">
                <mat-label>Break Down From</mat-label>
                <input matInput placeholder="Break Down From" [value]="submissionData?.breakDownFrom" readonly>
                <mat-icon matSuffix>date_range</mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-6">
              <mat-form-field appearance="outline">
                  <mat-label>Registered Date</mat-label>
                  <input matInput placeholder="Registered Date" [value]="submissionData?.registrationDate" readonly>
                  <mat-icon matSuffix>date_range</mat-icon>
                </mat-form-field>
            </div>


            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Customer Email Id</mat-label>
                    <input matInput placeholder="Customer Email Id" [value]="submissionData?.customerEmailId" readonly>
                    <mat-icon matSuffix>contact_mail</mat-icon>
                  </mat-form-field>
              </div>
      
              <div class="col-md-6">
                  <mat-form-field appearance="outline">
                      <mat-label>Customer Contact Number</mat-label>
                      <input matInput placeholder="Customer Contact Number" [value]="submissionData?.customerContactNumber" readonly>
                      <mat-icon matSuffix>call</mat-icon>
                    </mat-form-field>
                </div>
      
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Adress</mat-label>
                        <input matInput placeholder="Adress" [value]="submissionData?.address" readonly>
                        <mat-icon matSuffix>location_city</mat-icon>
                      </mat-form-field>
                  </div>

                  <div class="col-md-12">
                      <mat-form-field appearance="outline">
                          <mat-label>Description</mat-label>
                          <textarea matInput placeholder="description" [value]="submissionData?.description" readonly></textarea>
                          <mat-icon matSuffix>location_city</mat-icon>
                        </mat-form-field>
                    </div>


                  <div class="col-md-12" *ngIf="!submissionData?.mechanicName">
                      <mat-form-field appearance="outline" >
                          <mat-label>Select Mechanic</mat-label>
                          <mat-select  [(ngModel)]="selectedMechanic">
                            <mat-option *ngFor="let mechanic of mechanicList" [value]="mechanic">{{mechanic.mechanicName}}</mat-option>
                          </mat-select>
                          <mat-icon matSuffix>person_pin</mat-icon>
                          <mat-error>
                            Please Select one mechanic
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <div class="col-md-6 offset-md-3 text-center" *ngIf="!submissionData?.mechanicName">
                      <button class="mat-button button-submit" (click)="assignMechanic()">Assign Mechanic </button>
                      </div>

                  <div class="col-md-6" *ngIf="submissionData?.mechanicName">
                      <mat-form-field appearance="outline">
                          <mat-label>Mechanic Name</mat-label>
                          <input matInput placeholder="Mechanic Name" [value]="submissionData?.mechanicName" readonly>
                          <mat-icon matSuffix>person_pin</mat-icon>
                        </mat-form-field>
                    </div>
            
                    <div class="col-md-6" *ngIf="submissionData?.mechanicName">
                        <mat-form-field appearance="outline">
                            <mat-label>Mechanic Email Id</mat-label>
                            <input matInput placeholder="Mechanic Email Id" [value]="submissionData?.mechanicEmailId" readonly>
                            <mat-icon matSuffix>contact_mail</mat-icon>
                          </mat-form-field>
                      </div>
            
                      <div class="col-md-6" *ngIf="submissionData?.mechanicName">
                          <mat-form-field appearance="outline">
                              <mat-label>Mechanic Contact Number</mat-label>
                              <input matInput placeholder="Mechanic Contact Number" [value]="submissionData?.mechanicContactNumber" readonly>
                              <mat-icon matSuffix>call</mat-icon>
                            </mat-form-field>
                        </div>


                        <div class="col-md-6" *ngIf="submissionData?.resolvedDate">
                            <mat-form-field appearance="outline">
                                <mat-label>Resolved Date</mat-label>
                                <input matInput placeholder="Resolved Date" [value]="submissionData?.resolvedDate" readonly>
                                <mat-icon matSuffix>date_range</mat-icon>
                              </mat-form-field>
                          </div>


                          
                        <div class="col-md-6" *ngIf="submissionData?.resolvedDate">
                            <mat-form-field appearance="outline">
                                <mat-label>Amount Charged</mat-label>
                                <input matInput placeholder="Resolved Date" [value]="submissionData?.amountCharged" readonly>
                                <mat-icon matSuffix>money</mat-icon>
                              </mat-form-field>
                          </div>



                          
                        <div class="col-md-6" *ngIf="submissionData?.resolvedDate">
                            <mat-form-field appearance="outline">
                                <mat-label>Remark By Customer</mat-label>
                                <input matInput placeholder="Resolved Date" [value]="submissionData?.remarkByCustomer" readonly>
                                <mat-icon matSuffix>comment</mat-icon>
                              </mat-form-field>
                          </div>


                          
                        <div class="col-md-6" *ngIf="submissionData?.resolvedDate">
                            <mat-form-field appearance="outline">
                                <mat-label>Remark By Mechanic</mat-label>
                                <input matInput placeholder="Resolved Date" [value]="submissionData?.remarksByMechanic" readonly>
                                <mat-icon matSuffix>comment</mat-icon>
                              </mat-form-field>
                          </div>



      </div>
    </mat-card-content>
    </mat-card>
</div>