::ng-deep .mat-tab-label-active{
    background-color: #525174;
    color: white;
    opacity: 0.8 !important;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #1E1E2B;
}

td button{
    margin: 2px;
}