.fixed-top{
    background-color: #3D3C57 !important;
    box-shadow: -1px 3px 25px grey;
}

header a{
    color: #ffff !important;
}

.nav-item{
    cursor: pointer;
}

.active{
    background-color: #1e1e2b;
}