<header>
  <nav class="navbar  navbar-expand-md  fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" >Kaizel Care</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto menu menu-list">
      <li class="nav-item " routerLink="/" [ngClass]="router.url =='/login'|| router.url=='/'?'active':''">
        <a class="nav-link">Home </a>
      </li>

      <!-- <li class="nav-item " routerLink="/" [ngClass]="router.url =='/contact-us'?'active':''">
        <a class="nav-link">Contact Us </a>
      </li> -->

      <li class="nav-item " routerLink="user-management" [ngClass]="router.url =='/user-management'?'active':''" *ngIf="appService.checkLoggedIn()">
          <a class="nav-link" >Manage Mechanics</a>
        </li>


      <li class="nav-item " *ngIf="appService.checkLoggedIn()">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>


      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>
</header>